.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
    appearance: none;
}

.bounce-custom {
    animation: bounce-custom 1s ease;
}

@keyframes bounce-custom {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(-120deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }
}

.animate-scale {
    transform-origin: 0% 0%;
    animation: scale 0.2s;
}

.animate-scale-reverse {
    transform-origin: 0% 0%;
    animation: scale 0.2s reverse forwards;
}

@keyframes scale {
    0% {
        transform: scaleY(0)
    }

    100% {
        transform: scaleY(1)
    }
}


.custom-scroll-bar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

/* Track */
.custom-scroll-bar::-webkit-scrollbar-track {
    background: #222222;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
    background: rgb(224, 201, 251);
}

/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 190, 245);
}

@tailwind base;
@tailwind components;
@tailwind utilities;